.menu{
    display: flex;
    gap: 72px;
    font-size: 1.5rem;
}
.menu li{
    border-bottom: 4px solid transparent;
}
.menu li:hover{
    border-color: var(--primary-color);
    transition: border-color .5s;
}

@media (max-width:960px){
    .menu{
        display: none;
    }

    .menubar-container{
        font-size: 1.5rem;
        
    }
}